# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# TEAMS

# Map Maintainers
/_maps/ @pentestss13/maptainers

# Sprite Maintainers
/icons/ @pentestss13/spritetainers

# CI and tool chains
/tools/ @pentestss13/admins



# MAINTAINERS

# Constellado

/config/ @Constellado
/data/ @Constellado
/SQL/ @Constellado

# CONTRIBUTORS


# MULTIPLE OWNERS


# ALL CHANGES
* @Ossa88 @Constellado
